version: "3"
services:
  postgres:
    image: makinacorpus/pgrouting:10-2.5-2.6
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=travis_ci_test
      - POSTGRES_USER=travis_ci_test
      - POSTGRES_DB=travis_ci_test
  web:
    build:
      context: .
    depends_on:
      - postgres
    environment:
      - POSTGRES_HOST=postgres
    volumes:
      - .:/code/src
    ports:
      - "8000:8000"
    command: python3.7 ./manage.py runserver 0.0.0.0:8000

volumes:
  postgres:
